<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>CS 355 Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script src="searching.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var counter =0;
    function resultsDisplayer(data) {

        var section = document.createElement("section");
        section.style = "border: #B8D68C; border-style: solid; border-width:1px";

        var titleheader = document.createElement("h2");
        titleheader.innerHTML = data.title;
        section.appendChild(titleheader);

        var url = document.createElement("a");
        url.innerHTML = data.url;
        url.href = data.url;
        url.style = "color: #E84F4F";
        section.appendChild(url);

        var description = document.createElement("p");
        //Check if not null
        if (data.description !== null) description.innerHTML = data.description;
        section.appendChild(description);

        var checkbox = document.createElement("input");
        checkbox.type = "checkbox";
        checkbox.id = "checkbox" + counter;
        counter++;
        section.appendChild(checkbox);

        document.getElementById("resultsDiv").appendChild(section);

    }
    var socket = io();
    socket.on('for_client', function (data) {
        resultsDisplayer(data);
    });
</script>


<body>
    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:5" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large" style="width: 20%" onclick="w3_close()"> &times;</button>
        <a href="/" class="w3-bar-item w3-button">Home</a>
        <button class="w3-button w3-block w3-left-align" onclick="myAccFunc('courseAcc')">
            Course <i class="fa fa-caret-down"></i>
        </button>
        <div id="courseAcc" class="w3-hide w3-white w3-card">
            <a href='https://learn.zybooks.com/zybook/CUNYCSCI355TeitelmanFall2019'
                class="w3-bar-item w3-button">Zybook</a>
            <a href='https://app.tophat.com/e/223762' class="w3-bar-item w3-button">TopHat</a>
            <a href='https://tinyurl.com/CSCI355-Fall2019' class="w3-bar-item w3-button">Course Google Drive</a>
            <a href='https://w3schools.com' class="w3-bar-item w3-button">w3schools</a>
        </div>
        <button class="w3-button w3-block w3-left-align" onclick="myAccFunc('browserAcc')">
            Browser <i class="fa fa-caret-down"></i>
        </button>
        <div id="browserAcc" class="w3-hide w3-white w3-card">
            <a href='navigator.html' class="w3-bar-item w3-button">Navigator</a>
            <a href='window.html' class="w3-bar-item w3-button">Window</a>
            <a href='screen.html' class="w3-bar-item w3-button">Screen</a>
            <a href='location.html' class="w3-bar-item w3-button">Location</a>
            <a href='geolocation.html' class="w3-bar-item w3-button">Geolocation</a>
        </div>
        <button class="w3-button w3-block w3-left-align" onclick="myAccFunc('searchAcc')">
            Search <i class="fa fa-caret-down"></i>
        </button>
        <div id="searchAcc" class="w3-hide w3-white w3-card">
            <a href='filesearch.html' class="w3-bar-item w3-button">File Search</a>
            <a href='googlesearch.html' class="w3-bar-item w3-button">Google Search</a>
            <a href='search.html' class="w3-bar-item w3-button">Search</a>
        </div>
        <button class="w3-button w3-block w3-left-align" onclick="myAccFunc('aboutAcc')">
            About <i class="fa fa-caret-down"></i>
        </button>
        <div id="aboutAcc" class="w3-hide w3-white w3-card">
            <a href='devs.html' class="w3-bar-item w3-button">Developers</a>
            <a href='mailto:axmirza2@yahoo.com' class="w3-bar-item w3-button">Contact Us</a>
        </div>
    </div>

    <!-- Page Content -->
    <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" id="myOverlay"></div>

    <div>
        <button class="w3-button w3-white w3-xxlarge" style="font-size:20px;" onclick="w3_open()">&#9776;</button>
        <div class="w3-container">

            <form action="/urlinput" method="post">
                <input name="urlInput" type="text" class="ghost-input" placeholder="Enter a URL">
                <input type="submit" class="ghost-button" value="Parse URL">
            </form>
            <form action="/searchinput" method="post">
                <input name="query" type="text" class="ghost-input" placeholder="Enter a query">
                <input type="submit" class="ghost-button" value="Search Database">
                <div style="color:white; font-size: 14pt; font-family: Arial, Helvetica, sans-serif;">
                    <input type="checkbox" value="case" name="cbox"> case-insensitive
                    <input type="checkbox" value="partial" name="cbox"> allow partial match
                </div>
            </form>

            <br />
            <br />
            <br />
            <select id="formatdd" style="font-size: 14pt;">
                <option value="JSON">JSON</option>
                <option value="CSV">CSV</option>
                <option value="XML">XML</option>
            </select>
            <input type=text" style="font-size: 14pt;" id="fileName" value="Enter your file name">
            <button id="download" onclick="download()" style="font-size: 14pt;">Download</button>
            <br />
            <br />
            <button id="togglebox" onclick="selectAll()" style="font-size: 14pt;">Select All</button>

            <div id="resultsDiv">
            </div>
        </div>
    </div>

    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }

        function myAccFunc(y) {
            var x = document.getElementById(y);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-green";
            } else {
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className =
                    x.previousElementSibling.className.replace(" w3-green", "");
            }
        }
    </script>
</body>

</html>